body {
    font-family: 'Arial', sans-serif;
    margin: #f4f4f4;
    padding: 150px;
    margin: 0;
}

.resume-container {
    display: flex;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* left section */
.left-section {
    background-color: #000000;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 4px solid #9f7aea;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 3px solid #9f7aea;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-bottom: 3px solid #9f7aea;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: fill round;
    padding: 10px;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* right section */
.right-section {
    padding: 20px;
    width: 65%;
}

button {
    font-family: Arial, 'sans-serif';
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #9f7aea;
}


@media (max-width: 768px) {

    body {
        padding: 0;
    }

    .resume-container {
        flex-direction: column;
        width: 90%;
        padding-right: 60px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
    }

    .left-section {
        width: 100%;
        border-right: none;
        border-bottom: 4px solid #9f7aea;
    }

    .right-section {
        width: 100%;
        box-shadow: 0 4px 6px rgba(128, 128, 128, 0.5);
    }
}